form.register {
    margin: 3em auto 0;
    text-align: center;
    width: 60%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(232, 134, 54);
    position: absolute;
    left: 36%;
    top: 6%;
    align-items: center;
    justify-content: center;
}

.register fieldset {
    border-radius: 0.3em;
    padding: 0.8em;
    background-color: #ffffff;
}

.register h2 {
    padding-top: 0;
    border-bottom: none;
}

.register p {
    padding-bottom: 0;
    padding-top: 1.5rem;
}

.register input {
    flex: 0 1 100%;
    border: 1px solid;
    padding: 0.3em;
    border-left: 1rem solid rgb(232, 134, 54);
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.register button {
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    width: 60%;
    outline: none;
    font-family: serif;
    background-color: rgb(232, 134, 54);
}

.register button:hover {
    box-shadow: 0 0 30px 0 #f17f04 inset, 0 0 25px 4px #f78204;
    border: 1px solid #8d8c88;
}

.register i {
    border-right: none;
    border-bottom-left-radius: 0.3em;
    background-color: #e9ecef;
}

.register a {
    color: rgb(232, 134, 54);
}

.register a:hover {
    cursor: pointer;
}

.register .phone {
    padding-right: 0.8em;
}

.register .field {
    display: flex;
    padding-bottom: 0;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}