<div class="present">
    <h3>What is Be Gallery?</h3>
    <div class="column">
        <h2>We give way ...</h2>
        <p> Buddy Gallery tries to present different in every
            way paintings made only and only by hand,
            by famous and unknown artists from all over the world.
            We empower people with drawing skills to showcase
            themselves to our online audience and thus turn their
            talent, skill and imagination into their business and
            their pride and self-esteem!</p>
    </div>
    <div class="column">
        <h2>Our audience….</h2>
        <p> If you have a passion for handmade paintings, we are your
            artistic and aesthetic oasis, where we hope you will
            find what you are looking for, to make your home more
            beautiful, to complete your collection of paintings or
            simply to make a very unique and beautiful gift to the
            person next to you, to your friend or colleague or to
            a member of your family.</p>
    </div>
    <div class="column">
        <h2>Your doubts….</h2>
        <p> If you happen to have doubts about the authenticity of
            the picture you have purchased, you can take advantage
            of our fourteen-day return period and a subsequent
            refund of the amount you have paid.</p>
    </div>
</div>